*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.first-page{
    
    
   
    
   text-align: center;
    margin: 0px;
   
    background-image: url(../images/Rectangle\ 237.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 174px 300px;
    
}
.banner-title{
    color: #FFF8F3;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom:0;
   padding-top: 100px;



   
   
}
.banner-description{
    text-align: center;
    color: #FFF8F3;
font-size: 18px;
margin-bottom:30px;
    
}
.button{
   
    padding-bottom: 100px;
}
.btn-primary{
   
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
background: #FF5959;

width: 160px;
padding: 16px 12px;


border: 0;

}


/*edited

.about{
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding:130px 150px;
    text-align: center;
}
.section-title{
text-align: center;
font-weight: 700;
font-size: 35px;
margin-bottom:50px;
}
.section-description{
color:#757575;
font-size: 18px;
margin-bottom:30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size:20 ;
    font-weight: 700;
    color:#474747;
}*/

.second-page{
    text-align: center;
    margin: 0px;
    padding: 174px 300px;
}
.sec-header{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom:0;
    padding-bottom: 15px;
}
.sec-description{
    text-align: center;
    margin-bottom: 15px;

}
.tk-button{
    margin: 0px 200px;
    display: flex;
    text-align: center;
    
    justify-content: space-between;
   
    padding-bottom: 20px;
 
}

.tk-but-one{
    color: #707070;
    font-size: 20px;
    font-weight: 700;
    border: 0;
     width: 80px;
    height: 80px;
    
    
}
.tk-but-ex{
    color: rgba(255, 0, 0, 0.473); 
    font-size: 20px;
    font-weight: 700;
    
   
    height: 80px;
    width:80px;
    
    border-width: 1px;
    border-color: rgba(255, 0, 0, 0.473); 
    border-radius: 2px; 
    background-color: rgba(255, 0, 0, 0.116) ;
}
.but-two{
    text-align: center;
    padding-top: 10px;
} 
.form{
    text-align: center;
    padding-bottom: 10px;
   
    
}
.form input{
    text-align: center;
    color: #B3B3B3;
    border: 0;
}
.button-two{
    margin-top: 15px;
}

