*{
    margin: 0px;
}
.banner{
    padding: 150px 300px 150px 300px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/Rectangle\ 237.png);
    background-repeat: no-repeat;
  background-position: center;
   padding:0px;
   width: 1440px;
   height: 669px;
}

.banner-title{
    font-weight: 700px;
    font-size: 65px;
    color:#FFF8F3;
    text-align: center;
    padding-bottom: 30px;
}
.banner-description{
    color:#FFF8F3;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 25px;

}
.btn-primary{
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
background: #FD6E0A;
}
.button{
    text-align: center;
}
.div1{
    padding: 150px 300px 150px 300px;
}
.sec-header{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.sec-description{
    text-align: center;
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}


.tk-button{
   text-align: center;
   display: flex;
   padding-left: 200px;
   gap:24px;
   padding-bottom: 20px;
}
.tk-but-one{
    color: #707070;
    font-size: 20px;
    font-weight: 700;
    border: 0;
     width: 80px;
    height: 80px;
    
    
}
.tk-but-ex{
    color: rgba(255, 0, 0, 0.473); 
    font-size: 20px;
    font-weight: 700;
    
   
    height: 80px;
    width:80px;
    
    border-width: 1px;
    border-color: rgba(255, 0, 0, 0.473); 
    border-radius: 2px; 
    background-color: rgba(255, 0, 0, 0.116) ;
}
.but-two{
    text-align: center;
    padding-top: 10px;
} 
.form{
    text-align: center;
    padding-bottom: 10px;
   
    
}
.form input{
    text-align: center;
    color: #B3B3B3;
    border: 0;
}

